.orders{
  background-image: url("../../../../Assets/Admin\ bg.png");
  min-height:1000px
}

.orders-table{
  padding: 0 3rem;
  padding-bottom: 3rem;
}



#workorders img{
height:50px;
width:100px
}

#workorders {
  text-align: center;
  /* padding-top: 2rem; */
}

/* .workordersbody{
  padding-top: ;
} */