.IndividualArtistWorks{
    padding-top: 3rem;
}

.IndividualArtistWorks h4{
font-size: 30px;
text-align: center;
padding-top: 3rem;
color:  #1E90FF;
}

.artistworks-profile img{
    height:200px;
    width: 200px;
    border-radius: 50%;
}

.artistworks-profile{
    text-align: center;
}

.artistworks-profile h1{
    padding-top: .5rem;
}