#common-home-navbar {
    padding: 0 50px;
    height: 80px;
  
    background-color: #75D7F0 !important;
  }

  

  #common-home-navbar a:hover {
    color: violet !important;
    font-weight: bold;
  }

.usernav-links{
    padding-left: 42.3rem;
    margin-top: 12px;
}

  .usernav-links a{
    font-weight: 600;
    color:#fff;
    text-decoration: none;
   padding-left: 20px;
  }

  #nav-profileimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-right: 6.9rem;
    padding-top: .2rem;
    
  }

  #nav-profileimg img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .dropdownbackg{
    background-color:#75D7F0 
  }
  
  .dropdownbackg a{
    color: #fff;
    font-weight: 600;
  }

  .dropdownbackg a:hover{
    background-color:#75D7F0 ;
  }